<ngx-skeleton-loader 
    *ngIf="!recipes"
    count="1"
    [theme]="{
        width: '100%',
        height: '100%',
        position: 'fixed',
        top: '0',
        left: '0'
    }"
    appearance=""
></ngx-skeleton-loader>
<div style="display: flex; justify-content: flex-end;">
    <button mat-flat-button color="primary" style="margin-top: 5px; margin-right: 5px;" [matMenuTriggerFor]="menu">
        {{categories[selectedCategoryIndex]? categories[selectedCategoryIndex]: 'Все категории'}}
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="fetchRecipesIfConnected()">Очистить</button>
        <button mat-menu-item *ngFor="let category of categories; index as i" (click)="selectCategory(i)">{{category}}</button>
    </mat-menu>
</div>
<div class="recipeContainer">
    <mat-card *ngFor="let recipe of currentFilteredData" class="recipePreview">
        <app-recipe [recipe]="recipe"></app-recipe>
    </mat-card>
</div>
