<div class="addRecipeFormContainer">
    <form [formGroup]="addRecipeForm" class="addRecipeForm">
        <mat-form-field appearance="fill">
            <mat-label>Категория</mat-label>
            <mat-select [formControl]="categoryControl">
                <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
            </mat-select>
            <mat-error *ngIf="categoryControl.errors">Выберите категорию</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Название</mat-label>
            <input matInput placeholder="Название" [formControl]="nameControl">
            <mat-error *ngIf="nameControl.errors">Укажите название блюда (минимум 2 символа)</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Время приготовления</mat-label>
            <input matInput placeholder="Время приготовления" [formControl]="cookingTimeControl">
            <mat-error *ngIf="cookingTimeControl.errors">Укажите время приготовления</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Краткое описание</mat-label>
            <input matInput placeholder="Краткое описание" [formControl]="shortDescriptionControl">
            <mat-error *ngIf="shortDescriptionControl.errors">Укажите краткое описание блюда (от 10 до 40 символов)</mat-error>
        </mat-form-field>
        <mat-label style="margin-left: 10px; margin-bottom: 10px;">Ингредиенты:</mat-label>
        <mat-form-field *ngFor="let ingredient of ingredients; index as i">
            <mat-label>Ингредиент {{ingredient.id}}</mat-label>
            <input matInput placeholder="Название и граммовки" [formControl]="ingredientsControl.controls[i]">
            <mat-error
                *ngIf="ingredientControlInvalidity(i)"
            >Введите название ингредиента и граммовки (от 3 символов)</mat-error>
        </mat-form-field>
        <div class="actions">
            <button mat-flat-button color="accent" (click)="addIngredient($event, ingredients.length + 1)">Добавить ингредиент</button>
            <button mat-flat-button color="warn" (click)="deleteLastIngredient($event)">Удалить последний ингредиент</button>
        </div>
        <mat-label style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">Шаги приготовления:</mat-label>
        <mat-form-field *ngFor="let step of recipeSteps; index as i">
            <mat-label>Шаг {{step.id}}</mat-label>
            <textarea matInput placeholder="Описание" [formControl]="fullDescriptionControl.controls[i]"></textarea>
            <mat-error
                *ngIf="stepControlInvalidity(i)"
            >Опишите шаг рецепта (от 10 символов)</mat-error>
        </mat-form-field>
        <div class="actions">
            <button mat-flat-button color="accent" (click)="addRecipeStep($event, recipeSteps.length + 1)">Добавить шаг</button>
            <button mat-flat-button color="warn" (click)="deleteLastRecipeStep($event)">Удалить последний шаг</button>
        </div>
        <mat-label style="margin-left: 10px; margin-top: 50px;">Действия:</mat-label>
        <div class="actions">
            <button mat-flat-button color="primary" class="save-recipe" (click)="addRecipe()">Сохранить рецепт</button>
            <button mat-flat-button color="primary" style="margin-top: 5px; margin-right: 5px;" (click)="back()">Выйти</button>
        </div>
    </form>
</div>